<!-- Main Tag -->
<div id="main">
  <div id="inner">
    
    <!-- Logo and banner -->
    <div class="top1 clearfix">
      <header></header>
      <div class="star1"></div>
    </div>

    <div class="top2_wrapper">
    </div>

    <div id="content">
    </div>

    <div class="bot1_wrapper">
    </div>

    <div class="bot2_wrapper">
    </div>
  </div>
</div>