<!-- Main Tag -->
<div id="main">
  <div id="inner">
    
    <!-- Logo and banner -->
    <div class="top1 clearfix">
      <header>
        <div class="logo_wrapper">
          <a href="#" class="logo">
            <%= image_tag("logo.png") %>
          </a>
        </div>
      </header>
      <div class="star1"></div>
    </div>

    <!-- Sliding static image -->
    <div class="top2_wrapper">
      <div class="container">
        <div class="row">
          <div class="span12">

            <div class="top2 clearfix">

              <!-- Header links -->
              <div class="menu_wrapper">
                <div class="navbar navbar_">
                  <div class="navbar-inner navbar-inner_">
                    <div class="nav-collapse nav-collapse_ collapse">
                      <ul class="nav sf-menu clearfix">

                        <li><a href="#">Home Page</a></li>
                        <li class="active"><a href="#">About Us</a></li>
                        <li><a href="#">Lessons</a></li>
                        <li><a href="#">Teachers</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Music</a></li>
                        <li><a href="#">Contacts</a></li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Static Page image slide -->
              <div class="page_slide">
                <%= image_tag("page_slide1.jpg" class: "img")%>
                <h1>About Us</h1>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="content">
    </div>

    <div class="bot1_wrapper">
    </div>

    <div class="bot2_wrapper">
    </div>
  </div>
</div>