<div class="px1"></div>

<div id="main">
  <div id="inner">
    
    <!-- Top1 clearfix logo -->
    <div class="top1 clearfix">
      <header>
        <div class="logo_wrapper">
          <a class="logo" href="/">
            <%= image_tag("logo.png")%>
          </a>
        </div>
      </header>
      <div class="star1"></div>
    </div>
    <!-- End of Top1 clearfix logo -->

    
    <!-- Top2 Wrapper Nav bars and slide -->
    <div class="top2_wrapper">
    </div>
    <!-- End of Top2 Wrapper Nav bars and slide -->

    <div class="content">
    </div>
    <div class="bot1_wrapper">
    </div>
    <div class="bot2_wrapper">
    </div>
  </div>
</div>