<div id="main">
  <div id="inner">
    <div class="top1 clearfix">
    </div>
    <div class="top2_wrapper">
    </div>
    <div class="content">
    </div>
    <div class="bot1_wrapper">
    </div>
    <div class="bot2_wrapper">
    </div>
  </div>
</div>