// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*::-moz-selection {
    background: none repeat scroll 0 0 #888888 !important;
    color: #fff;
}


#content {
    background: url("/assets/px2.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    z-index: 5;
}

@media (min-width: 768px) and (max-width: 979px) {
  .slogan1 {
      font-size: 25px;
      line-height: 30px;
  }
}


.slogan1 {
    color: #818181;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 100;
    line-height: 44px;
    padding-top: 30px;
    text-align: center;
}

.slogan1 {
    font-size: 25px;
    line-height: 30px;
}

.banners {
  
}

.banners .banner .banner_wrapper a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.banners .banner .banner_wrapper a .banner_inner {
  background: none repeat scroll 0 0 #000;
  border: 1px solid #414141;
  padding: 5px;
}

.banners .banner .banner_wrapper a .banner_inner2 {
  background: none repeat scroll 0 0 #2d2d2d;
  border-left: 1px solid #515151;
  border-top: 1px solid #515151;
  padding: 10px;
}
