
#supersized {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -999;
}

#supersized img {
  size: 10px;
  border: medium none;
  height: auto;
  outline: medium none;
  position: relative;
  width: auto;
}